body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
    background-color: #f9f9f9;
    color: #333;
}

/* Ash outline */
/* Repository of cool symbols: ✦ ★ ☆ ▵ ⛤ ✯*/
ul {
    list-style: none;
    padding-left: 1.5em;
}

li {
    padding-left: 0.5em;
}

ul li::marker {
    content: "☆";
}

ul ul {
    padding-left: 1.5em;
}

ul ul li::marker {
    content: "▵";
}

ul ul ul {
    padding-left: 1.5em;
}

ul ul ul li::marker {
    content: "◦";
}

/* Sidebar navigation lists */
.sidebar ul li::marker {
    content: "⛤";
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #e0f7fa;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 0.75em;
}

.sidebar ul {
    list-style-type: none;
    padding-right: 0;
    margin: 0;
}

.sidebar li {
    margin: 0.5em 0;
    padding-left: 0.5em;
}

.sidebar a {
    text-decoration: none;
    color: #00796b;
}

.sidebar a:hover {
    font-weight: bold;
    color: #790008;
}

.content {
    flex: 1;
    padding: 2em;
}

h1 {
    color: #005f73
}

.content a {
    text-decoration: none;
    color: #0a9396;
}

.content a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5em;
}

th,
td {
    border: 1px solid #bbb;
    padding: 0.75em 1em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) td {
    background-color: #fafafa;
}

tr:nth-child(odd) td {
    background-color: #fff;
}

.statblock {
    width: 33%;
}

.fullstatblock {
    width: 75%;
}

.emphasis {
    text-decoration: underline;

}