<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deities Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <%- include('partials/sidenav') %>
      <main class="content">
        <h1>Deities</h1>
        <ul>
          <% deities.forEach(function(deity) { %>
            <li><a href="/api/deities/page/<%= deity.id %>">
                <%= deity.name %>
              </a></li>
            <% }); %>
        </ul>
      </main>
  </div>
</body>

</html>