<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <%- include('partials/sidenav') %>
      <main class="content">
        <h1>Events</h1>
        <ul>
          <% events.forEach(function(event) { %>
            <li><a href="/api/events/page/<%= event.id %>">
                <%= event.name %>
              </a></li>
            <% }); %>
        </ul>
      </main>
  </div>
</body>

</html>