<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campaign Notes Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <%- include('partials/sidenav') %>
      <main class="content">
        <h1>Campaign Notes Index</h1>
        <ul>
          <li><a href="/api/characters/index">Characters</a></li>
          <li><a href="/api/deities/index">Deities</a></li>
          <li><a href="/api/organizations/index">Organizations</a></li>
          <li><a href="/api/places/index">Places</a></li>
          <li><a href="/api/items/index">Items</a></li>
          <li><a href="/api/events/index">Events</a></li>
        </ul>
      </main>
  </div>
</body>

</html>