<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <%- include('partials/sidenav') %>
      <main class="content">
        <h1>Items</h1>
        <ul>
          <% items.forEach(function(item) { %>
            <li><a href="/api/items/page/<%= item.id %>">
                <%= item.name %>
              </a></li>
            <% }); %>
        </ul>
      </main>
  </div>
</body>

</html>